.heatmap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
}

.week {
  display: flex;
  gap: 4px;
}

.heatmap-cell {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}

.heatmap-cell:hover {
  transform: scale(1.1);
}
