@import "../mixins.scss";

.parent-container {
  display: flex; /* 使用 flexbox 布局 */
  flex-direction: column; /* 将子元素垂直排列 */
  align-items: flex-start; /* 左对齐 */
  justify-content: flex-start; /* 上对齐 */
  gap: 20px; /* 在顶部和底部留出空隙 */
  padding: 20px; /* 父容器的内边距 */
  width: 100%; /* 设定父容器宽度为 100% 或其他适合的值 */
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto repeat(54, 10px);
  grid-template-rows: auto repeat(7, 10px) auto;
  gap: 3px;

  width: fit-content;
  font-size: 12px;
  padding: 14px;
  border: solid 1px #d1d9e0;
  border-radius: 0.375rem;

  @include mobile-layout {
    display: none; /* 太长手机显示不下 */
  }

  .tab.active + & {
    border-top: 2px solid #216e39; /* 根据选中的标签调整边框颜色 */
  }
}

.month {
  grid-row: 1/2;
  // margin-bottom: -3px;
}

.week {
  grid-row: 3;
  grid-column: 1/2;
  line-height: 10px;
  margin-right: 3px;
  text-align: left;

  & + .week {
    grid-row: 5;
  }

  & + .week + .week {
    grid-row: 7;
  }
}

.tiles {
  grid-column: 2/56;
  grid-row: 2/9;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.tile {
  pointer-events: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;

  outline: 1px solid rgba(27, 35, 36, 0.06);
  outline-offset: -1px;

  &[data-level="0"] {
    background: #ebedf0;
  }
  &[data-level="1"] {
    background: #9be9a8;
  }
  &[data-level="2"] {
    background: #40c463;
  }
  &[data-level="3"] {
    background: #30a14e;
  }
  &[data-level="4"] {
    background: #216e39;
  }
  &[data-level="-1"] {
    background: transparent;
    outline: 1px solid transparent;
  }
}

.total {
  grid-column: 1/30;
  margin-top: 4px;
  text-align: left;
}

.legend {
  grid-column: 30/53;
  margin-top: 4px;

  display: flex;
  gap: 5px;
  justify-content: right;
  align-items: center;
}

/* 标签区样式 */
.tabContainer {
  display: flex;
  gap: 10px;
  /* 标签的上边框将与container的边框融合 */
  border-bottom: 2px solid #d1d9e0; /* 标签区与container的边框融合 */
  margin-bottom: 10px; /* 给标签区和内容区之间留一点间距 */
}

.tab {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;

  /* 默认为普通状态 */
  transition: all 0.3s ease;

  &:hover {
    background-color: #f5f5f5;
  }
}

.active {
  background-color: #e0e0e0;
  font-weight: bold;
  /* 使得选中的标签和container边框融合 */
  border-bottom: 2px solid #216e39; /* 这里的颜色可以根据需要调整 */
}
